<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4DJ228a9Im8N-yN2KgBhWvuaRRhmQUog</string>
	<key>GCM_SENDER_ID</key>
	<string>476868542135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.invistBh</string>
	<key>PROJECT_ID</key>
	<string>invist-bh-b3e2b</string>
	<key>STORAGE_BUCKET</key>
	<string>invist-bh-b3e2b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476868542135:ios:deb425a98652f6233a1732</string>
</dict>
</plist>